@page "/Logout"
@inject NavigationManager uriHelper
@inject App_LicenseManager.Client.Auth.ILoginServices loginService

<p>Saliendo....</p>

@code {

    protected async override Task OnInitializedAsync()
    {
        await loginService.Logout();
        uriHelper.NavigateTo("");
    }
}
