@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">Hola, @context.User.Identity?.Name.</a>
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Deslogearse</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registrar</a>
        <a href="authentication/login">Logearse</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
